#headerh1{
    color: darkgreen;
    float: top;
    font-family: monospace;
    font-size: 25px;
}

#navibar{
    font-size: 15px;
    text-align: center;
    padding: 7px;
    color: darkgreen;
    border-color: goldenrod;
}

.dropdown {
  float: left;
  overflow: hidden;
}
 
.dropdown .dropbtn {
  font-size: 17px;
  border: none;
  outline: none;
  color: white;
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a:hover {
  background-color: #ddd;
  color: black;
}


.dropdown:hover .dropdown-content {
  display: block;
}

#uncc{
    float: top left;
    padding-bottom: 10px;
    padding-right: 10px;
}
#pay{
    /*change background color and font color to match uncc theme*/
    font-size: 25px;
    padding: 5px;
    background-color: #b9975b;
    border: solid 5px #046A38;
}

#fav{
    /*change background color and font color to match uncc theme*/
    font-size: 25px;
    padding: 5px;
    background-color: #b9975b;
    border: solid 5px #046A38;
}

#feedback{
    /*change background color and font color to match uncc theme*/
    font-size: 25px;
    padding: 5px;
    background-color: #b9975b;
    border: solid 5px #046A38;
}

#settings{
    /*change background color and font color to match uncc theme*/
    font-size: 25px;
    padding: 5px;
    background-color: #b9975b;
    border: solid 5px #046A38;
}


